@model AboutPageViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .hakkinda {
        font-size: 3rem;
        text-align: center;
        color: beige;
        font-family: emoji;
    }
</style>
<!-- ##### Breadcumb Area Start ##### -->
<div class="breadcumb-area bg-img" style="background-color:lightslategray">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div>
                    <h2 class="hakkinda">
                        Hakkımda
                    </h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Breadcumb Area End ##### -->
<!-- ##### Blog Wrapper Start ##### -->
<div class="blog-wrapper section-padding-100-0 clearfix ">
    <div class="row justify-content-center">
        <div class="col-5 col-sm-12 col-md-8 col-lg-6 col-xl-5">
            <div class="single-blog-area clearfix mb-100">
                <div class="single-blog-content">
                    <div class="line"></div>
                    <h4><a href="#" class="post-headline">@Model.About.AboutTitle</a></h4>
                    <p class="mb-3">@Html.Raw(@Model.About.AboutContent)</p>
                </div>
            </div>
        </div>
        <div class="col-3 col-sm-12 col-md-4 col-lg-3 col-xl-3">
            <div class="single-catagory-area clearfix mb-100">
                <img src="@Model.About.AboutImage" alt="">
            </div>
        </div>
    </div>

</div>
<!-- ##### Blog Wrapper End ##### -->
<hr />
<!-- ##### Blog Wrapper Start ##### -->
<div class="blog-wrapper section-padding-100-0 clearfix">
    <div class="container">
        <div class="row">
            <!-- Single Blog Area  -->
            @foreach (var blog in Model.Posts)
            {
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-blog-area blog-style-2 mb-100">
                        <div class="single-blog-thumbnail">
                            <img src="@blog.BlogImage" alt="">
                            <div class="post-date">
                                <a href="#">@blog.CreateDate.Day <span>@blog.CreateDate.ToString("MMMM") @blog.CreateDate.ToString("yyyy")</span></a>
                            </div>
                        </div>
                        <!-- Blog Content -->
                        <div class="single-blog-content mt-50">
                            <div class="line"></div>
                            <h4><a href="#" class="post-headline">@blog.BlogTitle</a></h4>


                        </div>
                    </div>
                </div>
                <!-- Single Blog Area  -->
            }
        </div>
    </div>
</div>
<!-- ##### Blog Wrapper End ##### -->